# Rastrear archivos .tga con Git LFS
Assets/Fantastic\ City\ Generator/Textures/*.tga filter=lfs diff=lfs merge=lfs -text

# Rastrear archivos .fbx con Git LFS
Assets/HP\ Pavilion\ Laptop\ blend\ format/*.fbx filter=lfs diff=lfs merge=lfs -text