# Archivos sin extensión (reglas específicas por ruta)
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
# Archivos con extensiones específicas
*.dylib filter=lfs diff=lfs merge=lfs -text
*.ress filter=lfs diff=lfs merge=lfs -text
